<button (click)="screenReader()">Speak</button>
<button (click)="stopScreenReader()">Stop</button>

<div *ngIf="voiceRecognitionService.voiceFeedbackEnabled" style="background-color: darkslateblue">
  Voice Recognition: <br />
  {{voiceRecognitionService.voiceStatusMsg}} {{voiceRecognitionService.voiceActionFeedback}}
  <ng-container *ngIf="voiceRecognitionService.voiceFeedbackShowHelp">
    <div class="grid-container">
      Available commands... <br />
      Help: 'help me', 'close help'
    </div>
  </ng-container>
  <div class="grid-container">
    <br /><button (click)="voiceRecognitionService.closeVoiceFeedback()">Close</button>
  </div>
</div>

<form>
  <mat-form-field appearance="fill">
    <mat-label>Sort by</mat-label>
    <mat-select [(ngModel)]="selectedSort" name="sort" (selectionChange)="submitChanged()">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let sortOption of sortOptions | keyvalue: asIsOrder" [value]="sortOption.key">
        {{sortOption.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-radio-group name="order" [(ngModel)]="selectedOrder" (change)="submitChanged()" [disabled]="!selectedSort">
    <mat-radio-button value="">Up</mat-radio-button>
    <mat-radio-button value="-">Down</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <mat-select [(ngModel)]="selectedFilter" name="filter" (selectionChange)="onFilterChanged()">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let filterOption of filterOptions | keyvalue: asIsOrder" [value]="filterOption.key">
        {{filterOption.value.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span *ngIf="filterType=='text'">
    <mat-form-field appearance="fill">
      <mat-label>Value</mat-label>
      <input matInput name="value" placeholder="type here" [(ngModel)]="filterValue" (change)="submitChanged()">
    </mat-form-field>
  </span>
  <span *ngIf="filterType=='date'">
    <mat-form-field appearance="fill">
      <mat-label>Value</mat-label>
      <input matInput type="date" name="value" placeholder="type here" [(ngModel)]="filterValue" (change)="submitChanged()">
    </mat-form-field>
  </span>
  <span *ngIf="filterType=='number'">
    <mat-form-field appearance="fill">
      <mat-label>Value</mat-label>
      <input matInput type="number" name="value" placeholder="type here" [(ngModel)]="filterValue" (change)="submitChanged()">
    </mat-form-field>
  </span>
  <span *ngIf="filterType=='user'">
    <mat-form-field appearance="fill">
      <mat-label>User ID (TODO dropdown)</mat-label>
      <input matInput type="number" name="value" placeholder="type here" [(ngModel)]="filterValue" (change)="submitChanged()">
    </mat-form-field>
  </span>
</form>

<mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChanged($event);">
  <mat-tab label="Other's Memes">
    <mat-paginator
      [length]=memeLength
      [pageSize]=6
      (page)="pageEvent = getData($event)">
    </mat-paginator>
    <div class="grid-container">
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let meme of this.allMemes" [colspan]="1" [rowspan]="3">
          <mat-card class="dashboard-card" routerLink = "/meme/{{meme.id}}" style="cursor: pointer;">
            <mat-card-header>
              <mat-card-title>
                {{meme.title}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content *ngIf="meme.type==0" class="dashboard-card-content">
              <img [src]="meme.image_string" alt="Loading">
            </mat-card-content>
            <mat-card-content *ngIf="meme.type==1" class="dashboard-card-content">
              <video [src]="meme.image_string" controls="controls" alt="Loading"></video>
            </mat-card-content>
            <mat-card-footer>
              by {{meme.owner}} (Views: {{meme.views}} / vote {{meme.upvotes}}+ {{meme.downvotes}}- / comments: {{meme.comments}} / created: {{meme.created | date:'dd.MM.yy HH:mm:ss'}})
            </mat-card-footer>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>

  <mat-tab label="My Memes">
    <mat-paginator
      [length]=memeLength
      [pageSize]=6
      (page)="pageEvent = getData($event)">
    </mat-paginator>
    <div class="grid-container">
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let meme of allMemes" [colspan]="1" [rowspan]="3">
          <mat-card class="dashboard-card" routerLink = "/meme/{{meme.id}}" style="cursor: pointer;">
            <mat-card-header>
              <mat-card-title>
                {{meme.title}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content *ngIf="meme.type==0" class="dashboard-card-content">
              <img [src]="meme.image_string" alt="Loading">
            </mat-card-content>
            <mat-card-content *ngIf="meme.type==1" class="dashboard-card-content">
              <video [src]="meme.image_string" autoplay="autoplay" controls="controls" alt="Loading"></video>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>

</mat-tab-group>
