.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-radio-button {
  margin: 0 12px;
}
