<div class="grid-container">
  <h1 class="mat-h1">Create your Meme</h1>

  <button mat-raised-button (click)="screenReader()">Speak</button>
  <button mat-raised-button (click)="stopScreenReader()">Stop</button>

  <div *ngIf="vRS.voiceFeedbackEnabled" style="background-color: darkslateblue">
    Voice Recognition: <br />
    {{vRS.voiceStatusMsg}} {{vRS.voiceActionFeedback}}
    <ng-container *ngIf="vRS.voiceFeedbackShowHelp">
      <div class="grid-container">
        Available commands... <br />
        Navigation: 'navigate dashboard', 'navigate memes' <br />
        Template: 'select template' + Template ID <br />
        Webcam: 'open webcam', 'close webcam', 'take picture' <br />
        Text Fields: 'title *text', 'text top *text', 'text bottom *text' <br />
        Fonts: 'font size :fsize', 'font style :style' <br />
        Available font styles: Arial, Verdana, Times New Roman, Courier New, Serif, Sans-Serif <br />
        , 'alter bold', 'alter italic', 'alter underline' <br />
        Color: 'text colour :colour', 'pen colour :colour', 'background colour :color' (colour = 'black', 'white', 'red', 'yellow', 'green', 'blue') <br />
        Memes: 'save public', 'save private', 'save draft', 'download meme' <br />
        Help: 'help me', 'close help'
      </div>
    </ng-container>
    <div class="grid-container">
      <br /><button (click)="vRS.closeVoiceFeedback()">Close</button>
    </div>
  </div>

  <mat-grid-list [rowHeight]="100" cols="10">
    <mat-grid-tile colspan="6" rowspan="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Image Selection
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <button mat-raised-button class="butn" id="TemplatesSelect" (click)="reloadAndShowMemeTemplates()">Reload Meme Templates</button>

            <button mat-raised-button class="butn" id="WebcamSelect" (click)="loadFromWebcam()">Open Webcam for taking an Image</button>

            <input #file hidden (change)=" selectFile($event)" accept="image/*" type="file">
            <button mat-raised-button class="butn" id="fileSelect" (click)="file.click()">Upload an Image</button>

            <input #video hidden (change)=" selectVideo($event)" accept="video/*" type="file">
            <button mat-raised-button class="butn" id="videoSelect" (click)="video.click()">Upload a Video</button>

            <button mat-raised-button class="butn" id="URLSelect" (click)="openDialog()">Load an image from an URL</button>

            <button mat-raised-button class="butn" id="LoadFromAPI" (click)="loadFromAPI()">Load Random Image from IMGFlip</button>
          </div>
          <div class="memeTemplatesCycle">
            <button mat-raised-button id="previousTemplateButton" class="previousTemplateButton" (click)="previousTemplateButtonClicked()">❮</button>
            <div id="memeTemplatesContainer" class="memeTemplatesContainer">Loading meme templates...</div>
            <button mat-raised-button id="nextTemplateButton" class="nextTemplateButton" (click)="nextTemplateButtonClicked()">❯</button>
          </div>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan={{getCanvasRowspan()}}>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{name.value}}
            <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button (click)="saveCanvas()" mat-menu-item>Save to Account (Public)</button>
              <button (click)="saveCanvasPrivate()" mat-menu-item>Save to Account (Private)</button>
              <button (click)="saveCanvasAsDraft()" mat-menu-item>Save as Draft</button>
              <div [hidden]="this.videoOn"><button (click)="downloadCanvas()" mat-menu-item>Download</button></div>
              <button (click)="clearCanvas()" mat-menu-item>Clear</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <div [hidden]="!videoOn" id="videoContainer" class="meme-canvas"></div>
          </div>
          <mat-spinner *ngIf="this.videoOn && !this.currentVideoData" class="spinner"></mat-spinner>
          <div [hidden]="videoOn">
            <canvas [hidden]="cameraOn" #previewBackground [style.background]="colorBackground" class="meme-canvas"></canvas>
            <canvas [hidden]="cameraOn" #previewFile class="meme-canvas"></canvas>
          </div>
          <div>
            <canvas [hidden]="cameraOn || videoOn && !addingText" #previewText class="meme-canvas"></canvas>
            <canvas [hidden]="cameraOn || videoOn && !addingText" #previewTextbox class="meme-canvas"></canvas>
            <canvas [hidden]="cameraOn || videoOn && !addingText" #previewDraw class="meme-canvas"></canvas>
          </div>

          <div *ngIf="cameraOn">
            <webcam height="{{height}}"
                    width = "{{width}}"
                    [trigger]="triggerObservable"
                    (imageCapture)="handleImage($event)"
                    [imageQuality]="1"
                    (initError)="handleInitError($event)">

            </webcam>
            <br>
            <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
            <button class="bckBtn" (click)="showOnCanvas()">Go back to Canvas</button>
          </div>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="4">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Text
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <mat-grid-list [rowHeight]="30" cols="3">
              <mat-grid-tile colspan="1" rowspan="3">
                <mat-form-field class="example-form-field">
                  <mat-label>Title</mat-label>
                  <input [formControl]="name" matInput type="text">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="3">
                <div [hidden]="this.videoOn">
                  <mat-form-field class="example-form-field">
                    <mat-label>Text Top</mat-label>
                    <input (keyup)="textChanged()" [formControl]="textTop" matInput type="text">
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="3">
                <div [hidden]="videoOn">
                  <mat-form-field class="example-form-field">
                    <mat-label>Text Bottom</mat-label>
                    <input (keyup)="textChanged()" [formControl]="textBottom" matInput type="text">
                  </mat-form-field>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list [rowHeight]="75" cols="4">
              <mat-grid-tile aria-colspan="1" aria-rowspan="1">
                <button (click)="createNewTextbox()">Add text</button>
                <div *ngIf="this.currentVideoData != null" class="marginLeft">Total frames: {{this.currentVideoData.frames}}</div>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1" *ngIf="this.videoOn && newTextbox">
                <mat-form-field class="example-form-field">
                  <mat-label>From frame</mat-label>
                  <label>
                    <input [formControl]="fromFrame" matInput type="number" min="0" max="{{this.currentVideoData.frames-2}}">
                  </label>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile aria-colspan="1" aria-rowspan="1" *ngIf="this.videoOn && newTextbox">
                <mat-form-field class="example-form-field">
                  <mat-label>To frame</mat-label>
                  <label>
                    <input [formControl]="toFrame" matInput type="number" min="1" max="{{this.currentVideoData.frames-1}}">
                  </label>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <mat-nav-list *ngIf="newTextbox">
                  <mat-list-item>
                    <mat-form-field class="example-form-field">
                      <mat-label>Your Text</mat-label>
                      <input (keyup)="textboxChanged()" (change)="textboxChanged()" [formControl]="newTextbox.formControl" matInput type="text">
                    </mat-form-field>
                    <div *ngIf="newTextbox.xPos">
                      <button (click)="deleteTextbox(newTextbox)">DELETE</button>
                      <button (click)="saveTextbox(newTextbox)">SAVE</button>
                    </div>
                    <div *ngIf="!newTextbox.xPos">Place in Canvas</div>
                  </mat-list-item>
                </mat-nav-list>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list [rowHeight]="75" cols="3">
              <mat-grid-tile colspan="1" rowspan="3">
                <mat-form-field class="example-form-field">
                  <mat-label>Font Size</mat-label>
                  <label>
                    <input (keyup)="textChanged()" (change)="textChanged()" [formControl]="fontSize" matInput [value]="fontSize" type="number">
                  </label>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="1" rowspan="3">
                <div [hidden]="this.videoOn">
                  <mat-form-field>
                    <mat-label>Font Style</mat-label>
                    <mat-select [formControl]="fontFamily" (selectionChange)="fontFamilyChanged($event)">
                      <mat-option value="Arial">Arial</mat-option>
                      <mat-option value="Verdana">Verdana</mat-option>
                      <mat-option value="Times New Roman">Times New Roman</mat-option>
                      <mat-option value="Courier New">Courier New</mat-option>
                      <mat-option value="serif">serif</mat-option>
                      <mat-option value="sans-serif">sans-serif</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>

              <mat-grid-tile colspan="1" rowspan="3">
                <mat-button-toggle value="bold" (change)="boldButtonClicked($event)">Bold</mat-button-toggle>
                <mat-button-toggle value="italic" (change)="italicButtonClicked($event)">Italic</mat-button-toggle>
                <mat-button-toggle value="underline" (change)="underlineButtonClicked($event)">Underline</mat-button-toggle>
              </mat-grid-tile>
            </mat-grid-list>


          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="6" rowspan="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Colors
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>

            <mat-grid-list [rowHeight]="75" cols="3">
              <mat-grid-tile colspan="1" rowspan="2">
                <color-circle (onChangeComplete)="textColorChanged($event)" [color]="colorText"
                              [colors]="colorOptions"></color-circle>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="2">
                <color-circle (onChangeComplete)="penColorChanged($event)" [color]="colorPen"
                              [colors]="colorOptions"></color-circle>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="2">
                <color-circle (onChangeComplete)="backgroundColorChanged($event)" [color]="colorBackground"
                              [colors]="colorOptions"></color-circle>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <h3>Text</h3>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <h3>Pen</h3>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <h3>Background</h3>
              </mat-grid-tile>
            </mat-grid-list>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>
</div>


