<div class="grid-container">
  <h1 class="mat-h1">Create your Meme</h1>

  <div *ngIf="voiceSectionEnabled" style="background-color: darkslateblue">
    Voice Recognition: <br />
    {{voiceStatusMsg}} {{voiceActionFeedback}}
    <!--ng-container *ngIf="!voiceResultError; else failure" class="grid-container">
      <ng-container *ngIf="voiceResultSuccess; else start">
        <span></span>
      </ng-container>
      <ng-template #start>
        <ng-container
          *ngIf="voiceActiveListening; else beginning">
          <span></span>
        </ng-container>
        <ng-template #beginning>
          <span>Start talking...</span>
        </ng-template>
      </ng-template>
    </ng-container>
    <ng-template #failure>
      <span> {{voiceText}}</span>
    </ng-template-->
    <ng-container *ngIf="voiceShowHelp">
      <div class="grid-container">
        Available commands... <br />
        Navigation: 'open dashboard', 'open memes' <br />
        Webcam: 'open webcam', 'close webcam', 'take picture' <br />
        Text Fields: 'title *text', 'text top *text', 'text bottom *text' <br />
        Memes: 'save public', 'save private', 'save draft', 'download meme' <br />
        Help: 'help me', 'close help'
      </div>
    </ng-container>
    <div class="grid-container">
      <br /><button (click)="closeVoiceSection()">Close</button>
    </div>
  </div>

  <mat-grid-list [rowHeight]="100" cols="10">
    <mat-grid-tile colspan="6" rowspan="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Image Selection
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <button mat-raised-button class="butn" id="TemplatesSelect" (click)="reloadAndShowMemeTemplates()">Reload Meme Templates</button>

            <button mat-raised-button class="butn" id="WebcamSelect" (click)="loadFromWebcam()">Open Webcam for taking an Image</button>

            <input #file hidden (change)=" selectFile($event)" accept="image/*" type="file">
            <button mat-raised-button class="butn" id="fileSelect" (click)="file.click()">Upload an Image</button>

            <input #video hidden (change)=" selectVideo($event)" accept="video/*" type="file">
            <button mat-raised-button class="butn" id="videoSelect" (click)="video.click()">Upload a Video</button>

            <button mat-raised-button class="butn" id="URLSelect" (click)="openDialog()">Load an image from an URL</button>

            <button mat-raised-button class="butn" id="ScreenshotSelect" (click)="openDialog()">Upload Screenshot from URL</button>

            <button mat-raised-button class="butn" id="LoadFromAPI" (click)="loadFromAPI()">Load Random Image from IMGFlip</button>
          </div>
          <div class="memeTemplatesCycle">
            <button mat-raised-button id="previousTemplateButton" class="previousTemplateButton" (click)="previousTemplateButtonClicked()">❮</button>
            <div id="memeTemplatesContainer" class="memeTemplatesContainer">Loading meme templates...</div>
            <button mat-raised-button id="nextTemplateButton" class="nextTemplateButton" (click)="nextTemplateButtonClicked()">❯</button>
          </div>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan={{getCanvasRowspan()}}>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{name.value}}
            <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button (click)="saveCanvas()" mat-menu-item>Save to Account (Public)</button>
              <button (click)="saveCanvasPrivate()" mat-menu-item>Save to Account (Private)</button>
              <button (click)="saveCanvasAsDraft()" mat-menu-item>Save as Draft</button>
              <button (click)="downloadCanvas()" mat-menu-item>Download</button>
              <button (click)="clearCanvas()" mat-menu-item>Clear</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div [hidden]="videoOn">
            <canvas [hidden]="cameraOn" #previewBackground [style.background]="colorBackground" class="meme-canvas"></canvas>
            <canvas [hidden]="cameraOn" #previewFile class="meme-canvas"></canvas>
            <canvas [hidden]="cameraOn" #previewText class="meme-canvas"></canvas>
            <canvas [hidden]="cameraOn" #previewTextbox class="meme-canvas"></canvas>
            <canvas [hidden]="cameraOn" #previewDraw class="meme-canvas"></canvas>
          </div>
          <div [hidden]="!videoOn" id="videoContainer"></div>

          <div *ngIf="cameraOn">
            <webcam height="{{height}}"
                    width = "{{width}}"
                    [trigger]="triggerObservable"
                    (imageCapture)="handleImage($event)"
                    [imageQuality]="1"
                    (initError)="handleInitError($event)">

            </webcam>
            <br>
            <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
            <button class="bckBtn" (click)="showOnCanvas()">Go back to Canvas</button>
          </div>


        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="4">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Text
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <mat-grid-list [rowHeight]="30" cols="3">
              <mat-grid-tile colspan="1" rowspan="3">
                <mat-form-field class="example-form-field">
                  <mat-label>Title</mat-label>
                  <input [formControl]="name" matInput type="text">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="3">
                <mat-form-field class="example-form-field">
                  <mat-label>Text Top</mat-label>
                  <input (keyup)="textChanged()" [formControl]="textTop" matInput type="text">
                </mat-form-field>
              </mat-grid-tile>


              <mat-grid-tile colspan="1" rowspan="3">
                <mat-form-field class="example-form-field">
                  <mat-label>Text Bottom</mat-label>
                  <input (keyup)="textChanged()" [formControl]="textBottom" matInput type="text">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list [rowHeight]="75" cols="3">
              <mat-grid-tile aria-colspan="1" aria-rowspan="1">
                <button (click)="createNewTextbox()">New Textbox</button>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-nav-list *ngIf="newTextbox">
                  <mat-list-item>
                    <mat-form-field class="example-form-field">
                      <mat-label>Your Text</mat-label>
                      <input (keyup)="textboxChanged()" (change)="textboxChanged()" [formControl]="newTextbox.formControl" matInput type="text">
                    </mat-form-field>
                    <div *ngIf="newTextbox.xPos">
                      <button (click)="deleteTextbox(newTextbox)">DELETE</button>
                      <button (click)="saveTextbox(newTextbox)">SAVE</button>
                    </div>
                    <div *ngIf="!newTextbox.xPos">Place in Canvas</div>
                  </mat-list-item>
                </mat-nav-list>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list [rowHeight]="75" cols="3">
              <mat-grid-tile colspan="1" rowspan="3">
                <mat-form-field class="example-form-field">
                  <mat-label>Font Size</mat-label>
                  <label>
                    <input (keyup)="textChanged()" (change)="textChanged()" [formControl]="fontSize" matInput [value]="fontSize" type="number">
                  </label>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="1" rowspan="3">
                <mat-form-field>
                  <mat-label>Font Style</mat-label>
                  <mat-select [formControl]="fontFamily" (selectionChange)="fontFamilyChanged($event)">
                    <mat-option value="Arial">Arial</mat-option>
                    <mat-option value="Verdana">Verdana</mat-option>
                    <mat-option value="Times New Roman">Times New Roman</mat-option>
                    <mat-option value="Courier New">Courier New</mat-option>
                    <mat-option value="serif">serif</mat-option>
                    <mat-option value="sans-serif">sans-serif</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="1" rowspan="3">
                <mat-button-toggle value="bold" (change)="boldButtonClicked($event)">Bold</mat-button-toggle>
                <mat-button-toggle value="italic" (change)="italicButtonClicked($event)">Italic</mat-button-toggle>
                <mat-button-toggle value="underline" (change)="underlineButtonClicked($event)">Underline</mat-button-toggle>
              </mat-grid-tile>
            </mat-grid-list>


          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="6" rowspan="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Colors
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>

            <mat-grid-list [rowHeight]="75" cols="3">
              <mat-grid-tile colspan="1" rowspan="2">
                <color-circle (onChangeComplete)="textColorChanged($event)" [color]="colorText"
                              [colors]="colorOptions"></color-circle>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="2">
                <color-circle (onChangeComplete)="penColorChanged($event)" [color]="colorPen"
                              [colors]="colorOptions"></color-circle>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="2">
                <color-circle (onChangeComplete)="backgroundColorChanged($event)" [color]="colorBackground"
                              [colors]="colorOptions"></color-circle>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <h3>Text</h3>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <h3>Pen</h3>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <h3>Background</h3>
              </mat-grid-tile>
            </mat-grid-list>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>
</div>


