.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

canvas {
  margin-top: 5%;
}

.meme-canvas {
  position: absolute;
  margin-top: 5%;
  left: 5%;
}

.selectTemplateButton {
  margin-top: 20px;
  min-height: 150px;
  margin-right: 10px;


}

.selectTemplateButton span {
  display: block;

}

.selectTemplateButton mat-icon {
 font-size: 3rem;
  position: relative;
  right: 1rem;


}
