<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list [rowHeight]="300" cols="10">
    <mat-grid-tile colspan="6" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Image Selection
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>


            <input (change)=" selectFile($event)" accept="image/*" type="file">


          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{name.value}}
            <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button (click)="downloadCanvas()" mat-menu-item>Download</button>
              <button (click)="clearCanvas()" mat-menu-item>Clear</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <canvas #previewBackground [style.background]="colorBackground" class="meme-canvas"></canvas>
            <canvas #previewText class="meme-canvas"></canvas>
          </div>


        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Text
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <mat-grid-list [rowHeight]="75" cols="3">
              <mat-grid-tile colspan="1" rowspan="3">
                <mat-form-field class="example-form-field">
                  <mat-label>Title</mat-label>
                  <input [formControl]="name" matInput type="text">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="3">
                <mat-form-field class="example-form-field">
                  <mat-label>Text Top</mat-label>
                  <input (keyup)="topChanged($event)" [formControl]="textTop" matInput type="text">
                </mat-form-field>
              </mat-grid-tile>


              <mat-grid-tile colspan="1" rowspan="3">
                <mat-form-field class="example-form-field">
                  <mat-label>Text Bottom</mat-label>
                  <input (keyup)="bottomChanged($event)" [formControl]="textBottom" matInput type="text">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>


          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="6" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Colors
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>

            <mat-grid-list [rowHeight]="75" cols="3">
              <mat-grid-tile colspan="1" rowspan="2">
                <color-circle (onChangeComplete)="textColorChanged($event)" [color]="colorText"
                              [colors]="colorOptions"></color-circle>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="2">
                <color-circle (onChangeComplete)="penColorChanged($event)" [color]="colorPen"
                              [colors]="colorOptions"></color-circle>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="2">
                <color-circle (onChangeComplete)="backgroundColorChanged($event)" [color]="colorBackground"
                              [colors]="colorOptions"></color-circle>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <h3>Text</h3>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <h3>Pen</h3>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <h3>Background</h3>
              </mat-grid-tile>
            </mat-grid-list>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>
</div>


