.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

canvas {
  margin-top: 5%;
}

.meme-canvas {
  position: absolute;
  margin-top: 5%;
  left: 5%;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.memeTemplatesCycle {
  height: 100px;
  display: flex;
}

.memeTemplatesContainer {
  overflow: auto;
  white-space: nowrap;
  height: 100px;
  width: 80%;
  margin: auto;
}

.memeTemplate {
  display: inline-block;
  height: 80px;
  width: 80px;
}

.previousTemplateButton {
  position: absolute;
  left: 2.5%;
  height: 80px;
  width: 5%;
  font-size: 50px;
}

.nextTemplateButton {
  position: absolute;
  right: 2.5%;
  height: 80px;
  width: 5%;
  font-size: 50px;
}

.marginLeft {
  margin-left: 5px;
}
