<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               class="sidenav"
               fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="!isLoggedIn" mat-list-item routerLink="register">Login</a>
      <a (click)="logOut()" *ngIf="isLoggedIn" mat-list-item routerLink="register">Logout</a>
      <a mat-list-item routerLink="dashboard">Dashboard</a>
      <a mat-list-item routerLink="generator">Generate</a>
      <a mat-list-item routerLink="memes">Memes</a>
      <a mat-list-item [href]="adminUrl" target="_blank">Adminpanel</a>

      <a *ngIf="loggedOnUser" mat-list-item style="position: absolute; bottom: 10px;">{{loggedOnUser.username}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
