<div class="grid-container">
  <mat-grid-list [rowHeight]="300" cols="10">
    <mat-grid-tile colspan="5" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Information
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{meme.title}}
            <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">

            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <img [src]="meme.imageString" alt="Loading">
          </div>


        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Text
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <mat-grid-list [rowHeight]="75" cols="3">
              <mat-grid-tile colspan="1" rowspan="3">

              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="3">

              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="3">

              </mat-grid-tile>
            </mat-grid-list>


          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Statistics
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>


          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>
</div>


