<div class="grid-container">
  <mat-grid-list [rowHeight]="330" cols="9">
    <mat-grid-tile colspan="1" rowspan="3">
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="3">
      <mat-card class="dashboard-card">
        <button mat-raised-button (click)="screenReader()">Speak</button>
        <button mat-raised-button (click)="stopScreenReader()">Stop</button>
        <mat-card-header>
          <mat-card-title>
            {{meme.title}}
            <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button (click)="downloadCanvas()" mat-menu-item>Download</button>
              <button (click)="shareLink('This goes to Clipboard')" value="click to copy" mat-menu-item>Copy this
              </button>
            </mat-menu>
          </mat-card-title>

        </mat-card-header>

        <mat-card-content class="dashboard-card-content">

          <mat-chip-list>
            <mat-chip *ngFor="let prediciton of predictions "
                      [style.backgroundColor]="prediciton.color">{{prediciton.className}}</mat-chip>
          </mat-chip-list>


          <mat-grid-list cols="10" rowHeight="800">
            <mat-grid-tile colspan="1">
              <button (click)="prevImage()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>navigate_before</mat-icon>
              </button>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="meme.type==0" colspan="8">
              <img  [src]="meme.imageString" #preview alt="Loading">
            </mat-grid-tile>
            <mat-grid-tile *ngIf="meme.type==1" colspan="8">
              <video [src]="meme.imageString" autoplay="autoplay" controls="controls" muted #preview alt="Loading"></video>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
              <button (click)="nextImage()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>navigate_next</mat-icon>
              </button>
              <button style="margin-left: 5px;" (click)="randomImage()" mat-fab color="secondary"
                      aria-label="Example icon button with a delete icon">
                <mat-icon>auto_fix_high</mat-icon>
              </button>
            </mat-grid-tile>

          </mat-grid-list>

          <button (click)="upvote()" [disabled]="meme.voted" style="margin-right: 5px;" mat-fab color="accent"
                  aria-label="Example icon button with a delete icon">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button (click)="downvote()" [disabled]="meme.voted" mat-fab color="warn"
                  aria-label="Example icon button with a delete icon">
            <mat-icon>thumb_down</mat-icon>
          </button>
          <p style="margin-top: 6px;" *ngIf="meme.voted">You have already voted this meme.</p>


        </mat-card-content>

      </mat-card>


    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">

      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Comments
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <mat-list>
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label>Write a comment</mat-label>
              <textarea matInput [formControl]="commentText"></textarea>
              <button (click)="postComment()" color="primary" mat-raised-button
                      type="button">Comment
              </button>
            </mat-form-field>
            <mat-card *ngFor="let comment of comments" style="margin-top: 5px;"><b>{{comment.owner}}
              : </b> {{comment.text}} - <i>{{comment.created | date}}</i></mat-card>

          </mat-list>


        </mat-card-content>
      </mat-card>


    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3">

    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">

    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Details
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">


          <p>Upvotes: {{meme.upvotes}}</p>
          <p>Downvotes: {{meme.downvotes}}</p>
          <p>Views: {{meme.views}}</p>
          <p>Created by: {{meme.owner}}</p>
          <mat-slide-toggle [(ngModel)]="statsOn">Show Stats</mat-slide-toggle>


          <share-buttons [theme]="'circles-dark'"
                         [include]="['facebook','twitter','linkedin','reddit','telegram','messenger','whatsapp','xing','email','copy']"
                         [show]="5"
                         [title]="meme.title"
                         [showText]="true"
                         [size]="-2"
                         [description]="'Look at this great meme!'"
                         [tags]="'Meme, Funny, Lol'"
          ></share-buttons>

        </mat-card-content>
      </mat-card>


    </mat-grid-tile>


    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Slideshow
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">


          <div style="margin-top: 20px;">

            <mat-slide-toggle [(ngModel)]="slideshowRandom" [disabled]="slideShowRunning"
            >Random order
            </mat-slide-toggle>
          </div>

          <div style="margin-top: 20px;">
            <label>Speed</label>

            <mat-slider
              class="example-margin"
              [max]=20
              [min]=2
              [step]=1
              [disabled]="slideShowRunning"
              [thumbLabel]=true
              [(ngModel)]="slideshowspeed">
            </mat-slider>
          </div>

          <div style="margin-top: 20px;">
            <button (click)="slideshow()" *ngIf="!slideShowRunning" [disabled]="slideShowRunning" color="primary"
                    mat-raised-button
                    type="button">Start Slideshow
            </button>
            <button (click)="slideshow()" *ngIf="slideShowRunning" [disabled]="!slideShowRunning" color="primary"
                    mat-raised-button
                    type="button">Stop Slideshow
            </button>
          </div>

        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
    <div [hidden]="!statsOn" >
    <mat-grid-tile colspan="7" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        <div style="display: table;">
          <div style="display: table-row">
            <div style="display: table-cell">
              <div style="height:280px; width: 700px; display: flex; justify-content: center; align-items: center;">
                <div class="chart-wrapper" *ngIf="viewedChartReady">
                  <canvas  baseChart height="270" width="310"
                          [datasets]="viewedChartData"
                          [labels]="viewedChartLabels"
                          [chartType]="viewedChartType"
                          [options]="viewedChartOptions"
                          [legend]="viewedChartLegend">
                  </canvas>
                </div>
              </div>
            </div>
            <div style="display: table-cell">
              <div style="height:280px; width: 700px; display: flex; justify-content: center; align-items: center;">
                <div class="chart-wrapper" *ngIf="vChartReady"  >
                  <canvas  baseChart height="270" width="310"
                          [datasets]="vChartData"
                          [labels]="vChartLabels"
                          [options]="vChartOptions"
                          [chartType]="vChartType">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        </mat-card-content>

      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">

    </mat-grid-tile>
    </div>

  </mat-grid-list>
</div>
