<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight={{rowHeight}}>
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.title == 'Card 1'">
          <div class="chart-wrapper" *ngIf="chartReady">
            <canvas baseChart height="{{chartRowHeight}}"
                    [datasets]="topMemeChartData"
                    [labels]="topMemeChartLabels"
                    [options]="topMemeChartOptions"
                    [colors]="topMemeChartColors"
                    [legend]="topMemeChartLegend"
                    [chartType]="topMemeChartType"
                    [plugins]="topMemeChartPlugins">
            </canvas>
          </div>

          </div>
          <div *ngIf="card.title == 'Card 2'">
            <div id="inner_video" >
              <video #video id="video" autoplay></video>
            </div>

            <canvas #canvas id="canvas" width="1024" height="768">canvas</canvas>
          </div>
          <div *ngIf="card.title == 'Card 3'">
            <div class="chart-wrapper" *ngIf="loginChartReady">
              <canvas baseChart height="{{chartRowHeight}}"
                      [datasets]="loginChartData"
                      [labels]="loginChartLabels"
                      [options]="loginChartOptions"
                      [colors]="loginChartColors"
                      [legend]="loginChartLegend"
                      [chartType]="loginChartType"
                      [plugins]="topMemeChartPlugins">
              </canvas>
            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
